.barbox {
  position: relative;
  text-align: left;
  box-shadow: 0 1px 3px rgba(#999, 0.3);
  background-color: #fff;
}

.toolbtn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
  font-size: 16px;

  &:hover {
    background-color: #999;
  }

  &:disabled {
      opacity: 0.5;
      color: #999;
  }

  &.active {
    color: #1e88e5;
  }
}

:global {
  .fa-fw {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFOSURBVEhL7ZRLSgNREEVbHYmgq3As/hBRQcRtiAPRDbgDB0b8i4jgNgTFsQMHrsG9eE/Xa3l5VJIKdHDSBw651C0IVLpTdXT8J6fJQdylz2FEdvqYll9JsseHnLXoQsfOWOzImyTZ416uWHShY2csHuVGkuxxIg8sutCxE6Y581Ry0Lm3ZM+iCx07YXbllcUaMrOSBflq0YWOnTBPct1iDZmZx2f6BK6SXybvRjIjOW0JM7qSdzlnsTpLAjO6MHvywmIfzOhKbuWabJ6L5nlgRhfmWfLS8zTmMqMrOZKHclvyRUhmRheCU37L8ksb6cpzb8pL+SCb14/MjC7Evjy36ELHTs68fJOcOH/9mNGFeJHLFl3o2Cn5kdcWa8jMwnCiUXg7vOdLFmvI+f9Axx+rcthvW9La/mIySmv7PPbhR1+0tt+c4njCuaNjklTVL25rQCmDzf0eAAAAAElFTkSuQmCC") no-repeat center;
    background-size: 100% auto;
  }
}
