.@{qtextPrefixCls}-listBox{
  position: relative;
  display: inline-block;
}

.@{qtextPrefixCls}-listModal{
  position: absolute;
  z-index: 100;
  left: 0;
  top: 30px;
  display: none;
  max-height:.@{qtextPrefixCls}-20px* 6;
  overflow-x: hidden;
  overflow-y: auto;
  border:.@{qtextPrefixCls}-1px.@{qtextPrefixCls}-olid#ddd;
  background-color: #fff;

  &.@{qtextPrefixCls}-activeList{
    display: block;
  }
}

.@{qtextPrefixCls}-item{
  line-height: 1.8;
  padding:.@{qtextPrefixCls}-010px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;

  &.@{qtextPrefixCls}-hover{
    background-color: #eaeaea;
  }
}

.@{qtextPrefixCls}-color{
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  &.@{qtextPrefixCls}-hover{
    box-shadow:.@{qtextPrefixCls}-00.@{qtextPrefixCls}-20pxrgba(255, 255, 255, 0.534);
  }
 .@{qtextPrefixCls}-span{
    display: block;
    width: 20px;
    height: 20px;
  }
}

@h: 30px;

.@{qtextPrefixCls}-head{
  position: relative;
  line-height: @h;
  font-size: 14px;

  .@{qtextPrefixCls}-rightIcon{
    position: absolute;
    right: 2px;
    top: 0;
    line-height: @h;
    transition:.@{qtextPrefixCls}-all350ms;
  }
}

.@{qtextPrefixCls}-active{
  .@{qtextPrefixCls}-rightIcon{
    transform: rotate(90deg);
  }
}
