@import "./font.less";
@import "./draft.less";

figure {
  margin: 0 1em;
}

.editor {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto-Regular";
  background-color: #fff;

  .content {
    padding: 8px;
    min-height: 100px;
  }

  &.mobile {
    background: url("//i.ezbuy.sg/FpjrbpcApGlAaI1oXJLLnvMzLEop") no-repeat top
      center;
    background-size: 436px auto;
    padding: 54px 0 28px;
    box-sizing: border-box;

    .inner {
      width: 375px;
      box-sizing: border-box;
      border-radius: 0 0 30px 30px;
      max-height: 100%;
      margin: 0 auto;
      background: #fff;
    }
  }

  &.inEditStatus {
    .inner {
      position: relative;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
    }

    &.desktop {
      .inner {
        padding-top: 30px;
      }
      .content {
        height: 600px;
        overflow-y: auto;
      }
    }

    &.mobile {
      .inner {
        padding-top: 30px * 3;
      }
      .content {
        height: 680px;
        overflow-y: auto;
      }
    }
  }
}