.@{qtextPrefixCls}-import"./font.less";
.@{qtextPrefixCls}-import"./draft.less";

.@{qtextPrefixCls}-igure{
  margin:.@{qtextPrefixCls}-01em;
}

.@{qtextPrefixCls}-editor{
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
  font-family: "Roboto-Regular";
  background-color: #fff;

  .@{qtextPrefixCls}-content{
    padding: 8px;
    min-height: 100px;
  }

  &.@{qtextPrefixCls}-mobile{
    background: url("//i.ezbuy.sg/FpjrbpcApGlAaI1oXJLLnvMzLEop") no.@{qtextPrefixCls}-repeattop
      center;
    background-size:.@{qtextPrefixCls}-436pxauto;
    padding:.@{qtextPrefixCls}-54px0 28px;
    box-sizing: border-box;

    .@{qtextPrefixCls}-inner{
      width: 375px;
      box-sizing: border-box;
      border-radius:.@{qtextPrefixCls}-00.@{qtextPrefixCls}-30px30px;
      max-height: 100%;
      margin:.@{qtextPrefixCls}-0auto;
      background: #fff;
    }
  }

  &.@{qtextPrefixCls}-inEditStatus{
    .@{qtextPrefixCls}-inner{
      position: relative;
    }

    .@{qtextPrefixCls}-header{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
    }

    &.@{qtextPrefixCls}-desktop{
      .@{qtextPrefixCls}-inner{
        padding-top: 30px;
      }
      .@{qtextPrefixCls}-content{
        height: 600px;
        overflow-y: auto;
      }
    }

    &.@{qtextPrefixCls}-mobile{
      .@{qtextPrefixCls}-inner{
        padding-top:.@{qtextPrefixCls}-30px* 3;
      }
      .@{qtextPrefixCls}-content{
        height: 680px;
        overflow-y: auto;
      }
    }
  }
}